* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to left bottom,
    #201622,
    #1c161f,
    #19161c,
    #161518,
    #141414
  );
  font-family: "Ubuntu", serif;
}
