* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(
    to left bottom,
    #2c1936,
    #2d1d37,
    #2d2037,
    #2e2438,
    #2f2738,
    #2e2836,
    #2e2835,
    #2d2933,
    #2a282f,
    #28272c,
    #262528,
    #242424
  );
  font-family: "Ubuntu", serif;
}
